# xmz-test-gui.service
#
# xMZ-Mod-Touch-GUI (Testversion) systemd unit file.
#
# Startet eine Testversion einer grafischen Benutzer Oberfläche für die
# 'xMZ-Mod-Touch'-Platform.
#
[Unit]
Description="Testversion der Grafischen Oberfläche der 'xMZ-Mod-Touch'-Platform"
After=weston.service

[Service]
Type=simple
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment=XMZ_HARDWARE=0.1.0
Environment=LANG=de_DE.UTF-8
ExecStart=/usr/bin/xmz-test-gui
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
