# boot.mount
#
# Boot Mount Target
#
[Unit]
Description="Mounted die 1. Partition der mmcblk0 Disk nach /boot"
DefaultDependencies=no
Conflicts=umount.target
Before=umount.target
StopWhenUnneeded=true

[Mount]
What=/dev/mmcblk0p1
Where=/boot
Type=vfat
Options=defaults

[Install]
WantedBy=multi-user.target
